<footer>
    <p class="personal-links">
        <a href="https://github.com/jan-keuchel" aria-label="GitHub">
            <span class="px24-svg">
                {% include footer_data/github_svg %}
            </span>
        </a>
        <a href="https://tryhackme.com/p/jan.keuchel">
            <span class="px24-svg">
                {% include footer_data/thm_svg %}
            </span>
        </a>
        <a href="mailto: jan@keuchel.dev" aria-label="Mail">
            <span class="px24-svg">
                {% include footer_data/mail_svg %}
            </span>
        </a>
    </p>

    <p>
    <a href="https://github.com/jan-keuchel/keuchel.dev" class="obligaroty-links">source code</a>
    <span class="sep">-</span>
    <a href="/privacy-policy.html" class="obligaroty-links">privacy policy</a>
    </p>
</footer>
