<ul>
        {% for item in include.collection %}
        <li>
                <article>
                        <a href="{{ item.url }}">
                                <div>
                                        <h3>{{ item.title }}</h3>
                                        <div>
                                                <p>{{ item.desc }}</p>
                                        </div>
                                        <div>
                                                <time>{{ item.published }}</time>
                                        </div>
                                </div>
                        </a>
                </article>
        </li>
        {% endfor %}
</ul>
