:root {
  --col-text: #F3F7F0;
  --col-accent: #F2545B;
  --col-background-header: #0C181D;
  --col-background-nav: color-mix(in srgb, var(--col-background-header) 95%, white);
  --col-background-content: color-mix(in srgb, var(--col-background-nav) 95%, white);
  --col-link: #999EFF;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: var(--col-background-content);
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; // push footer to the bottom
}

// -----------------------------
// ---------- Header -----------
// -----------------------------

header {
  text-align: center;
  background-color: var(--col-background-header);
  padding: 2em;
}

// jankeuchel.dev heading
header h1 a {
  color: var(--col-text);
  text-decoration: none;
}
header h1 a:hover {
  text-decoration: underline;
}


// ------------------------------
// ------------ Nav -------------
// ------------------------------

nav {
  text-align: center;
  background-color: var(--col-background-nav);
  padding: 0.6em;
}
nav a {
  color: var(--col-text);
  text-decoration: none;
  margin: 0px 1em;
}
nav a:hover {
  color: var(--col-accent);
  text-decoration: underline;
}
.current {
  color: var(--col-accent);
  font-weight: bold;
  text-decoration: none;
}


// ----------------------------
// ---------- Footer ----------
// ----------------------------

footer {
  text-align: center;
  background-color: var(--col-background-nav);
  padding: 1em;
}

.personal-links a {
  color: #ffffff;
  text-decoration: none;
}

.obligaroty-links {
  text-decoration: none;
  color: var(--col-link);
}


// -----------------------------
// ---------- Content ----------
// -----------------------------

.content {
  width: 100%;
  max-width: 700px;
  margin: auto;
  text-align: justify;
  padding: 2rem;
  line-height: 1.4;
  color: var(--col-text);
}
