:root {
  --col-text: #F3F7F0;
  --col-text-secondary: color-mix(in srgb, var(--col-text) 70%, black);
  --col-accent: #F2545B;
  --col-unlicked-link-accent: #f68d92;
  --col-background-header: #0C181D;
  --col-background-nav: color-mix(in srgb, var(--col-background-header) 95%, white);
  --col-background-content: color-mix(in srgb, var(--col-background-nav) 95%, white);
  --col-border: color-mix(in srgb, var(--col-background-nav) 90%, white);
  --col-link: #999EFF;

  --col-highlight-red: #F2545B;
  --col-highlight-green: #4DB6AC;
  --col-highlight-blue: #64B5F6;
}

// ------------------------------
// ---------- Globals -----------
// ------------------------------

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: var(--col-background-content);
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; // push footer to the bottom
}

ul {
  list-style: square;
  list-style-position: outside;
  margin-left: 1rem;
}

ol {
  list-style-position: outside;
  padding-left: 0;
  margin-left: 2rem;
}

// -----------------------------
// ---------- Header -----------
// -----------------------------

header {
  text-align: center;
  background-color: var(--col-background-header);
  padding: 2em;
}

// jankeuchel.dev heading
header h1 a {
  color: var(--col-text);
  text-decoration: none;
}
header h1 a:hover {
  text-decoration: underline;
}


// ------------------------------
// ------------ Nav -------------
// ------------------------------

nav {
  text-align: center;
  background-color: var(--col-background-nav);
  padding: 0.6em;
}
nav a {
  color: var(--col-text);
  text-decoration: none;
  margin: 0px 1em;
}
nav a:hover {
  color: var(--col-accent);
  text-decoration: underline;
}
.current {
  color: var(--col-accent);
  font-weight: bold;
  text-decoration: none;
}


// ----------------------------
// ---------- Footer ----------
// ----------------------------

footer {
  text-align: center;
  background-color: var(--col-background-nav);
  padding: 1em;
}

.personal-links a {
  color: #ffffff;
  text-decoration: none;
}

.obligaroty-links {
  text-decoration: none;
  color: var(--col-link);
}
.obligaroty-links:hover {
  text-decoration: underline;
}


// -----------------------------
// ---------- Content ----------
// -----------------------------

.content {
  width: 100%;
  max-width: 800px;
  margin: auto;
  text-align: justify;
  padding: 2rem;
  line-height: 1.5;
  color: var(--col-text);
}

// -----------------------------
// ---------- Listing ----------
// -----------------------------

.plain-list {
  list-style-type: none;
  margin: 0em;
  padding: 0em;
}

.card {
  display: block;
  padding: 1.5rem;
  border-radius: 10px;
  border: 1px solid var(--col-border);
  background-color: var(--col-background-nav);
  text-decoration: none;
  color: inherit;
}
.card:hover {
  background-color: var(--col-border);
}

// -------------------------------
// --------- highlight -----------
// -------------------------------

.highlight-block {
  padding: 1em 1.2em;
  margin: 1.2em 0;
  color: var(--col-text);
}

.highlight-quote {
  background: color-mix(in srgb, var(--col-background-content) 90%, white);
  border-left: 6px solid color-mix(in srgb, var(--col-background-content) 70%, white);
  font-style: italic;
}

.highlight-warning {
  background: color-mix(in srgb, var(--col-background-content) 90%, var(--col-highlight-red));
  border-left: 6px solid color-mix(in srgb, var(--col-background-content) 60%, var(--col-highlight-red));
}

.highlight-hint {
  background: color-mix(in srgb, var(--col-background-content) 90%, var(--col-highlight-green));
  border-left: 6px solid color-mix(in srgb, var(--col-background-content) 60%, var(--col-highlight-green));
}

.highlight-note {
  background: color-mix(in srgb, var(--col-background-content) 90%, var(--col-highlight-blue));
  border-left: 6px solid color-mix(in srgb, var(--col-background-content) 60%, var(--col-highlight-blue));
}

// -----------------------------
// ---------- Modular ----------
// -----------------------------

.text-primary {
  color: var(--col-text);
  text-decoration: none;
}
.text-secondary {
  color: var(--col-text-secondary);
}
.mb-025 {
  margin-bottom: 0.25rem;
}
.mb-05 {
  margin-bottom: 0.5rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mt-1 {
  margin-top: 1rem;
}
.bb { // border bottom
  border-bottom: 2px solid var(--col-text);
}
.v-space-1 {
  height: 1rem;
}
.v-space-2 {
  height: 2rem;
}

.metadata {
  display: flex;
  align-items: center;   /* vertically center items */
  justify-content: space-between; /* push date left, logo right */
  margin-top: 0.5rem;    /* spacing from previous content */
  color: var(--col-text-secondary); /* use your existing text-secondary color */
}
.metadata-left {
  display: flex;
}
.metadata-right {
  display: flex;
}

.metadata-date {
  font-size: 0.9rem;
  opacity: 0.8;
}
.metadata-language-flag {
  max-height: 0.8rem;
  width: auto;
}

.metadata-logo {
  max-height: 1.25rem;
  width: auto;
  display: block;
}
