:root {
  --col-text: #F3F7F0;
  --col-accent: #F2545B;
  --col-background-header: #0C181D;
  --col-background-nav: color-mix(in srgb, var(--col-background-header) 90%, white);
}


*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// -----------------------------
// ---------- Header -----------
// -----------------------------

header {
  text-align: center;
  background-color: var(--col-background-header);
  padding: 2em;
}

// jankeuchel.dev heading
header h1 a {
  color: var(--col-text);
  text-decoration: none;
}
header h1 a:hover {
  text-decoration: underline;
}


// ------------------------------
// ------------ Nav -------------
// ------------------------------

nav {
  text-align: center;
  background-color: var(--col-background-nav);
  padding: 0.6em;
}
nav a {
  color: var(--col-text);
  text-decoration: none;
  margin: 0px 1em;
}
nav a:hover {
  color: var(--col-accent);
  text-decoration: underline;
}
.current {
  color: var(--col-accent);
  font-weight: bold;
  text-decoration: none;
}

