/* Base code block */
.highlight {
  border-radius: 6px;
  overflow-x: auto;
  font-family: 'Fira Code', monospace;
  line-height: 1.4;
  font-size: 0.9rem;
}

/* Inline code */
code {
  // padding: 0.2em 0.4em;
  border-radius: 4px;
  font-family: 'Fira Code', monospace;
  font-size: 0.95em;
}

html[data-theme='dark'] .highlight .s { color: #a3be8c; } /* strings */
html[data-theme='light'] .highlight .s { color: #008000; }

/* Light theme */
html[data-theme='light'] .highlight {
  background-color: #eeeeee;
  color: #333;
}
html[data-theme='light'] .highlight .lineno {
  color: #999;
}
html[data-theme='light'] code {
  background-color: #eee;
  color: #222;
}

/* Dark theme */
html[data-theme='dark'] .highlight {
  background-color: #3B4252;
  color: #d8dee9;
}
html[data-theme='dark'] .highlight .lineno {
  color: #88c0d0;
}
html[data-theme='dark'] code {
  background-color: #3b4252;
  color: #eceff4;
}
