/* Base code block */
.highlight {
  border-radius: 6px;
  overflow-x: auto;
  max-height: 600px;
  overflow-y: auto;
  font-family: 'Fira Code', monospace;
  line-height: 1.4;
  font-size: 0.9rem;
  padding: 0.5rem 0.8rem;
}

/* Inline code */
code {
  // padding: 0.2em 0.4em;
  border-radius: 4px;
  font-family: 'Fira Code', monospace;
  font-size: 0.95em;
}

html[data-theme='light'] .highlight .lineno {
  color: #999;
}
html[data-theme='light'] code {
  background-color: #eee;
  color: #222;
}

html[data-theme='dark'] .highlight .lineno {
  color: #88c0d0;
}
