.content-lecture-notes h1 {
  @extend .mb-1;
}

.content-lecture-notes h2 {
  // border-radius: 4px;
  // padding-left: 0.5rem;
  // margin-top: 0.5rem;
  @extend .mb-05
}

.content-lecture-notes h3, h4, h5 {
  @extend .mb-025
}
