.content-post h1 {
  @extend .mb-1;
  @extend .mt-1;
}

.content-post h2 {
  @extend .mb-05;
  @extend .mt-2;
}

.content-post h3, h4, h5, h6 {
  @extend .mb-025;
  @extend .mt-2;
}

.content-post p {
  @extend .mb-025;
}

.content-post img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; /* Optional: centers images */
}
