
.content-post p {
  @extend .mb-025;
  opacity: 0.8;
}

.content-post img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; /* Optional: centers images */
}

.content-post a {
  color: var(--col-unlicked-link-accent);
  text-decoration: none;
  margin: 0px 0px;
}

.content-post a:hover {
  color: var(--col-accent);
  text-decoration: underline;
}
