.content-project h1 {
  @extend .mb-1;
  @extend .mt-1;
}

.content-project h2 {
  @extend .mb-05;
  // @extend .mt-2;
}

.content-project h3, h4, h5, h6 {
  @extend .mb-025;
  @extend .mt-2;
}

.content-project img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; /* Optional: centers images */
}

.content-project video {
  width: 100%;
  max-width: 100%;
  aspect-ratio: 5 / 4;
  height: auto;
  display: block;
  margin: 1em 0em; 
  background-color: black;
}
