---
layout: default
---
<h1>{{ page.title }}</h1>
<p>
    {% if page.ongoing == true %}
        {% if page.language == "en" %}
            <time class="card-md-date">last update: {{ page.date | date: "%d.%m.%Y" }}</time>
        {% elsif page.language == "de" %}
            <time class="card-md-date">zuletzt aktualisiert: {{ page.date | date: "%d.%m.%Y" }}</time>
        {% endif %}
    {% else %}
        <time class="card-md-date">{{ page.date | date: "%d.%m.%Y" }}</time>
    {% endif %}
    {% if page.github %}
        <br>
        To the project: <a href="{{ page.github }}">GitHub</a>
    {% endif %}
</p>
{% include toc.html %}
{{ content }}
